@using Gymbuddy.Core.Entities
@model User 

<form asp-action="EditPW" asp-controller="Profile" method="post">
        <input type="hidden" asp-for="@Model.Id"/>
    <label>Enter a new password:</label>
    <div class="col-md-3">
    <input class="form-control" asp-for="@Model.password"/>
    </div>
    <button>Submit</button>
</form>